﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-white">                
                @Html.Raw(Umbraco.AssignedContentItem.GetPropertyValue("aboutText"))
            </div>
        </div>
    </div>
</section>
