﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<section id="contact" class="bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">@Umbraco.AssignedContentItem.GetPropertyValue("contactTitle")</h2>
                <hr class="my-4" style="border-color:#FCFCFC;">                
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ml-auto text-center">
                <a href="#" class="text-white">
                <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                <p>@Umbraco.AssignedContentItem.GetPropertyValue("contactPhoneNumber")</p>
                </a>
            </div>
            <div class="col-md-3 mr-auto text-center">
                <a class="text-white" href="mailto:@Umbraco.AssignedContentItem.GetPropertyValue("contactEmail")" target="_blank">
                    <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                    <p>
                        @Umbraco.AssignedContentItem.GetPropertyValue("contactEmail")
                    </p>
                </a>
            </div>
            <div class="col-md-3 mr-auto text-center">
                <a class="text-white" href="@Umbraco.AssignedContentItem.GetPropertyValue("contactFacebookUrl")" target="_blank"><i class="fa fa-facebook-square fa-3x mb-3 sr-contact"></i></a>                
            </div>
            <div class="col-md-3 mr-auto text-center">
                <a class="text-white" href="@Umbraco.AssignedContentItem.GetPropertyValue("contactLinkedInUrl")" target="_blank"><i class="fa fa-linkedin-square fa-3x mb-3 sr-contact"></i></a>
            </div>
        </div>
    </div>
</section>