﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var idImage = Umbraco.AssignedContentItem.GetPropertyValue("coverImage");
    string idImageMedia = idImage.ToString();
    string imageUrl = Umbraco.Media(idImageMedia).Url;

    var idResume = Umbraco.AssignedContentItem.GetPropertyValue("coverResumeFile");
    string idResumeMedia = idResume.ToString();
    string resumeUrl = Umbraco.Media(idResumeMedia).Url;
}

<header class="masthead text-center text-white d-flex" style="background-image: url('@imageUrl');">    
    <div class="container my-auto">                                
        <div class="row">
            <div class="col-lg-10 mx-auto">                                                
                <h2>
                    <strong style="font-family:'Dancing Script', cursive; text-shadow: 1px 1px 1px #000; color:#fcfcfc; text-transform:none; font-size:65px;">@Umbraco.AssignedContentItem.GetPropertyValue("coverName")</strong>
                </h2>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="mb-5" style="text-shadow: 1px 1px 1px #000;">@Umbraco.AssignedContentItem.GetPropertyValue("coverDescription")</p>
                <a class="btn btn-primary btn-sm js-scroll-trigger" href="@resumeUrl" target="_blank"><i class="icon-print"></i>&nbsp;Print my resume</a>
            </div>
        </div>
    </div>
</header>

