﻿@model Tuple<List<ImageShow>,string>
@using MyResumeSite.Models

<section id="entrepreneurial-experiences" class="bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@Model.Item2</h2>
                <hr class="my-4" style="border-color:#FCFCFC;">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @RenderXpImages(Model.Item1)
        </div>
    </div>
</section>

@helper RenderXpImages(List<ImageShow> listImages)
{
    foreach (var image in listImages)
    {
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
                <img src="@image.ImageUrl" />
                <p class="mt-4 text-white">@image.ImageDescription</p>
            </div>
        </div>
    }
}