﻿@model Tuple<List<ImageLibrary>,string>
@using MyResumeSite.Models
<section class="p-0 mt-5 mb-5" id="personal-achievements">
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">@Model.Item2</h2>
                <hr class="my-4">
            </div>
        </div>            
    </div>                
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">                         
            @RenderAchievementImages(Model.Item1)                
        </div>
    </div>
</section>


@helper RenderAchievementImages(List<ImageLibrary> imageLibrary)
{
foreach (var image in imageLibrary)
{
        <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="@image.ImageFullUrl">
                <img class="img-fluid" src="@image.ImageThumbUrl" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            @image.ImageTitle
                        </div>
                        <div class="project-name">
                            @image.ImageDescription
                        </div>
                    </div>
                </div>
            </a>
        </div>
}
}