﻿@model Tuple<List<Timeline>, string>
@using MyResumeSite.Models

<section id="resume" class="p-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@Model.Item2</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                @RenderTimeline(Model.Item1)                                                                
            </div>
        </div>  
    </div>
</section>

@RenderModals(Model.Item1)



@helper RenderTimeline(List<Timeline> listTimeline)
{
int countItem = 0;
string sideClass = "";
int countModal = 0;
if (listTimeline != null)
{
    <ul class="timeline">
        @foreach (var timeline in listTimeline)
        {
            <li class="timeline-heading text-center animate-box">
                <div><h3>@timeline.Category</h3></div>
            </li>
            if (timeline.Items != null)
            {
                foreach (var timelineItem in timeline.Items)
                {
                    if (countItem == 0)
                    {
                        sideClass = "timeline-unverted";
                        countItem = 1;
                    }
                    else
                    {
                        sideClass = "timeline-inverted";
                        countItem = 0;
                    }
                        <li class="animate-box @sideClass">
                        <div class="timeline-badge">@Html.Raw(timelineItem.Icon)</div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">@timelineItem.Header</h3>
                                @Html.Raw(timelineItem.SubHeader)
                            </div>
                            <div class="timeline-body">
                                @Html.Raw(timelineItem.Content)
                            </div>
                            @if (timelineItem.Modals != null)
                            {
                                foreach (var modal in timelineItem.Modals)
                                {
                                    if (!string.IsNullOrEmpty(modal.Title))
                                    {
                                        countModal += 1;
                                        <button type="button" class="btn btn-primary btn-sm" style="text-transform:none;" data-toggle="modal" data-target="#@("timeline" + countModal.ToString())">@modal.Title</button>                                        
                                    }
                                }
                            }
                        </div>
                    </li>
                }
            }
        }                       
    </ul>
    }
}

@helper RenderModals(List<Timeline> listTimeline)
{
int countModal = 0;
if (listTimeline != null)
{        
     foreach (var timeline in listTimeline)
     {                
          if (timeline.Items != null)
          {
               foreach (var timelineItem in timeline.Items)
               {                                            
                    if (timelineItem.Modals != null)
                    {
                         foreach (var modal in timelineItem.Modals)
                         {
                              if (!string.IsNullOrEmpty(modal.Title))
                              {
                                   countModal += 1;                                   
                                <div id="@("timeline" + countModal.ToString())" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content bg-dark">
                                            <div class="modal-header text-left">
                                                <h5 class="modal-title text-white">@modal.Title</h5>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body text-white">
                                                @Html.Raw(modal.Content)
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary btn-sm" style="text-transform:none;" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        }
                    }
                }
            }
        }
    }
}
}