﻿@model Tuple<List<SkillCollection>, List<string>>
@using MyResumeSite.Models
<section id="skills" class="p-0 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@Model.Item2[0]</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @RenderSkillItems(Model.Item1)
        </div>
        <div class="row">            
            <div class="col-lg-12 mx-auto mt-4">
                <span>Extra skills:&nbsp;</span>
                <span class="text-muted">@Model.Item2[1]</span>
            </div>
        </div>
    </div>
</section>

@helper RenderSkillItems(List<SkillCollection> skillCollection)
{
foreach (var item in skillCollection)
{
        <div class="col-lg-4 col-md-6">
            <div class="service-box mt-5 mx-auto">
                <h3 class="mb-3 text-center">@item.Category</h3>
                <ul style="list-style-type:none; margin:0; padding:0;">
                    @foreach (var skill in item.Items)
                    {
                        <li>
                            <span class="text-muted mb-0">@skill.Title</span>
                            <span class="float-right">
                                @for (int i = 0; i < skill.Range; i++)
                                {
                                    <i class="icon-star"></i>
                                }
                                @for (int i = 0; i < (5 - skill.Range); i++)
                                {
                                    <i class="icon-star-outlined"></i>
                                }                                
                                
                            </span>
                        </li>
                    }                    
                </ul>
            </div>
        </div>
    }
}
