﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Optimization
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hire Carlos!</title>    

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet"> 
    <!-- Plugin CSS -->
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/creative.css" rel="stylesheet">
    <link href="/css/icomoon.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">

    <!-- Modernizr JS -->
    @*<script src="/scripts/modernizr-2.6.2.min.js"></script>*@
    @RenderSection("Head",false)
</head>
<body id="page-top">
    @RenderSection("ScriptsTop", false)
    @{Html.RenderAction("RenderNavigation", "SiteLayout");}
    @RenderBody()
    @{Html.RenderAction("RenderBottom", "SiteLayout");}

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/scripts/creative.min.js"></script>    

    @*<script src="/scripts/main.js"></script>
    <!-- jQuery -->
    <script src="/scripts/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/scripts/jquery.easing.1.3.js"></script>
    <!-- Stellar Parallax -->
    <script src="/scripts/jquery.stellar.min.js"></script>*@
    @RenderSection("ScriptsBottom", false)
</body>
</html>