﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<section id="bottom" class="bg-dark text-white text-center p-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                @Html.Raw(Umbraco.AssignedContentItem.GetPropertyValue("bottomText"))
            </div>
        </div>        
    </div>
</section>
