﻿@model Tuple<List<NavigationListItem>,string>
@using MyResumeSite.Models


<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">        
        <a class="navbar-brand js-scroll-trigger" href="#page-top">@Model.Item2</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                @RenderChildItems(Model.Item1)
            </ul>
        </div>
    </div>
</nav>

@helper RenderChildItems(List<NavigationListItem> listItems)
{
if (listItems != null)
{
    foreach (var item in listItems)
    {
            <li class="nav-item">
                @if (!String.IsNullOrEmpty(item.Text))
                {
                    @item.Text
                }                
                else if (item.Link != null)
                {
                    <a class="nav-link js-scroll-trigger" href="@item.Link.Url" target="@item.Link.Target">@item.Link.Title</a>                    
                }

                @*@if (item.HasChildren)
                {
                    <ul class="sub-menu">
                        @RenderChildItems(item.Items)
                    </ul>
                }*@
            </li>
    }
}
}